# Garmin Connect IQ Build Files
bin/
.vscode/
gen/
internal-mir/
mir/
*.prg
*.iq

# OS Files
.DS_Store
Thumbs.db

# IDE Files
*.sublime-*
.idea/

# Logs
*.log
npm-debug.log*



stepsreminderforgarmin-settings.json
stepsreminderforgarmin.prg.debug.xml